.studyMovieWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	min-width: 200px;
	margin-bottom: 16px;
	/* background-color: black; */
}
.thumbnail {
	width: 100%;
	height: 100%;
}
.thumbnailImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.title {
	font-weight: bold;
	margin-top: 8px;
	text-align: center;
}
.text {
	text-align: center;
}

