.container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 200px);
	height: 100%;
}

.header h1 {
	text-align: center;
	font-size: 2rem;
}

.sortWrap {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.sorts {
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 8px solid #d9d9d9;
	.sort {
		width: 100%;
	}
}

.sort p {
	padding: 8px 0;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	position: relative;
	font-size: 0.8rem;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.sort p::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
	height: 8px;
	background-color: #7f00ff;
	transform: scaleX(0) translateX(-50%);
	transition: transform 0.3s ease-in-out;
}

.active p::after {
	transform: scaleX(1);
}

.sort p:focus {
	outline: none;
}
.contents {
	height: 100%;
	overflow-y: auto;
}
