.loginContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 110;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginForm {
	width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
}

.inputGroup {
	margin-bottom: 15px;
}

.inputGroup label {
	display: block;
	margin-bottom: 5px;
}

.inputGroup input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.error {
	color: red;
	margin-bottom: 15px;
}
